version: '3.5'

services:

  api:
    command: yarn start:watch

  test:
    image: tomnlittle/node-jest
    command: yarn test:watch
    restart: on-failure
    labels:
      namespace: slack
      tier: test
    environment:
      SLACK_BOT_ID: $SLACK_BOT_ID
      SLACK_BOT_TOKEN: $SLACK_BOT_TOKEN
      SLACK_USER_ID: $SLACK_USER_ID
      SLACK_USER_TOKEN: $SLACK_USER_TOKEN
      SLACK_PRIVATE_CHANNEL: $SLACK_PRIVATE_CHANNEL
      SLACK_PUBLIC_CHANNEL: $SLACK_PUBLIC_CHANNEL
      SLACK_PUBLIC_CHANNEL_FILE_ID: $SLACK_PUBLIC_CHANNEL_FILE_ID
      STEMN_SLACK_BOT_SERVER_HOST: http://api
      STEMN_SLACK_BOT_SERVER_PORT: 3000
      STEMN_SLACK_SIGNING_SECRET: $STEMN_SLACK_SIGNING_SECRET
      STEMN_API_TOKEN: $STEMN_API_TOKEN
      STEMN_API_HOST: $STEMN_API_HOST
    working_dir: /app
    volumes:
      - $PWD:/app
    networks:
      - slack-backend
